    h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    }
    ul{
    background-color: pink;
    }
    .corclasse {
    background-color: green;
    }
    p{
    font-weight: 600;
    font-size: 3em;
    }
    body{
    font-size: 16px;
    }
    #y{
    color: yellow;
    }
    #r{
    color: red;
    }
    #b{
    color: brown;
    }